/***************************************
    CORE STYLES
****************************************/
:root {
    font-size: 14px;
}
html,
body {
    background: $footer-background;
    .container {
        padding: 0 $grid-gutter-width/2;
    }

    @include media-breakpoint-up(md) {
        .container {
            padding: 0 $grid-gutter-width;
        }
    }
}
hr {
    margin-bottom: $grid-gutter-width;
}