/***************************************
    CORE STYLES
****************************************/
:root {
    font-size: 14px;
}
html,
body {
    background: $footer-background;
    .container {
        padding: 0 $grid-gutter-width;
    }
}
.secondary {
    .nav-pills {
        .nav {
            padding: $grid-gutter-width/4;
            .active {
                background: transparent;
                color: $sub-nav-active-colour;
            }
        }
        .active {
            border-radius: 0;
        }
    }
}
hr {
    margin-bottom: $grid-gutter-width;
}

/***************************************
    HEADER STYLES
****************************************/
header {
    background: $header-background;
    padding-top: $grid-gutter-width/4;
    padding-bottom: $grid-gutter-width/4;
    color: $header-colour;
    border-top: 7px solid $header-top-border-colour;
    a {
        color: $white;      
    }
    @media screen and (max-width: grid-breakpoint("sm")) {
        .navbar {
            padding-bottom: 0;
            position: absolute;
            bottom: -6px;
            right: 0;
            z-index: 9;       
            li {
                &.active {
                    border-bottom: 5px solid $header-top-border-colour;
                }  
            }
        }
    }
    .navbar-toggler {
        position: absolute;
        left: $grid-gutter-width/2;
        top: 0;
        -webkit-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
                transform: translateY(-100%);
    }
    .bottom-bar {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        border-bottom: 7px solid $header-bottom-border-colour;
    }
}

/***************************************
    BODY STYLES
****************************************/
.main {
    padding-top: 114px;
    background-color: $main-bg;
    &.full-background {
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    &:not(.no-pad-top) .container {
        padding-top: $grid-gutter-width;
    }
    .container {
        background: $white;
        padding-bottom: $grid-gutter-width/2;
    }
    .banner-image {
        margin-bottom: $grid-gutter-width;
    }
}

/***************************************
    FOOTER STYLES
****************************************/
footer {
    background: $footer-background;
    padding-top: $grid-gutter-width/2;
    padding-bottom: $grid-gutter-width/2;
    color: $footer-colour;
    font-size: 0.9rem;
    a {  
        color: $footer-colour;
        &.active {
            color: rgba($footer-colour, 0.5);
        }
    }
    .row {
        margin-bottom: $grid-gutter-width/2;
    }
}

/***************************************
    MISC STYLES
****************************************/
.map-row {
    width: calc(100% + #{$grid-gutter-width});
    min-width: 100%;
    display: block;
}
.embed-responsive {
    margin-bottom: $grid-gutter-width;
    &.embed-responsive-map {
        padding-bottom: $grid-gutter-width*10;
    }
}
#WidgetHolder,nav.secondary {
    margin-bottom: $grid-gutter-width;
}

#cookie_container {
    @extend .bg-success;
    @extend .text-white;
    .cookie_inner {
        @extend .container;
        a {
            @extend .btn;
            @extend .btn-primary;
        }
    }
}

.gallery-modal {
    z-index: 9999 !important; 
}