/***************************************
    HEADER STYLES
****************************************/
header {
    background: $header-background;
    padding-top: $grid-gutter-width/4;
    padding-bottom: $grid-gutter-width/4;
    color: $header-colour;
    border-top: 7px solid $header-top-border-colour;
    a {
        color: $white;      
    }

    @include media-breakpoint-up(sm) {
        .navbar {
            padding-bottom: 0;
            position: absolute;
            bottom: -6px;
            right: 0;
            z-index: 9;       
            li {
                &.active {
                    border-bottom: 5px solid $header-top-border-colour;
                }  
            }
        }
    }

    @include media-breakpoint-up(md) {
        .container {
            padding: 0;
        }
    }
    .navbar-toggler {
        position: absolute;
        left: $grid-gutter-width/2;
        top: 0;
        -webkit-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
                transform: translateY(-100%);
    }
    .bottom-bar {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        border-bottom: 7px solid $header-bottom-border-colour;
    }
}