/***************************************
    CORE STYLES
****************************************/
:root {
    font-size: 14px;
}
html,
body {
    background: $body-bg;
}
hr {
    margin-bottom: $grid-gutter-width;
}