/***************************************
    HEADER STYLES
****************************************/
header {
    background: $header-background;
    padding-top: $grid-gutter-width/4;
    padding-bottom: $grid-gutter-width/4;
    color: $header-colour;
    border-top: 7px solid $header-top-border-colour;
    a {
        color: $header-colour;      
    }

    @include media-breakpoint-up(lg) {
        .navbar-main {
            padding-bottom: 0;
            position: absolute;
            bottom: -6px;
            right: 0;
            z-index: 9;       
            li {
                &.active {
                    border-bottom: 5px solid $header-top-border-colour;
                }  
            }
        }
    }
    .bottom-bar {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        border-bottom: 7px solid $header-bottom-border-colour;
    }
}